
{{> header }}
<table
  id='u_content_heading_2'
  style="font-family:'Open Sans',sans-serif;"
  role='presentation'
  cellpadding='0'
  cellspacing='0'
  width='100%'
  border='0'
>
  <tbody>
    <tr>
      <td
        class='v-container-padding-padding'
        style="overflow-wrap:break-word;word-break:break-word;padding:50px 50px 0px;font-family:'Open Sans',sans-serif;"
        align='left'
      >

        <h1
          class='v-text-align v-line-height v-font-size'
          style='margin: 0px; line-height: 140%; text-align: left; word-wrap: break-word; font-size: 24px; font-weight: 400;'
        ><strong>Merci pour la création du compte</strong></h1>

      </td>
    </tr>
  </tbody>
</table>

<table
  id='u_content_text_3'
  style="font-family:'Open Sans',sans-serif;"
  role='presentation'
  cellpadding='0'
  cellspacing='0'
  width='100%'
  border='0'
>
  <tbody>
    <tr>
      <td
        class='v-container-padding-padding'
        style="overflow-wrap:break-word;word-break:break-word;padding:10px 50px;font-family:'Open Sans',sans-serif;"
        align='left'
      >

        <div
          class='v-text-align v-line-height v-font-size'
          style='font-size: 14px; line-height: 170%; text-align: justify; word-wrap: break-word;'
        >
          <p style='line-height: 170%;'>{{ text }}</p>
        </div>

      </td>
    </tr>
  </tbody>
</table>

<table
  id='u_content_button_1'
  style="font-family:'Open Sans',sans-serif;"
  role='presentation'
  cellpadding='0'
  cellspacing='0'
  width='100%'
  border='0'
>
  <tbody>
    <tr>
      <td
        class='v-container-padding-padding'
        style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px 50px 50px;font-family:'Open Sans',sans-serif;"
        align='left'
      >

        <div class='v-text-align' align='left'>
          <a
            href='{{validation_url}}'
            target='_blank'
            class='v-button v-size-width v-font-size'
            style="box-sizing: border-box;display: inline-block;font-family:'Open Sans',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #0b6445; border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px; width:30%; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;font-size: 14px;"
          >
            <span
              class='v-line-height'
              style='display:block;padding:10px 20px;line-height:120%;'
            ><span style='line-height: 16.8px;'>{{ validation_text }}</span></span>
          </a>
        </div>

      </td>
    </tr>
  </tbody>
</table>
{{> footer }}