
{{> header }}
<table
  id='u_content_heading_2'
  style="font-family:'Open Sans',sans-serif;"
  role='presentation'
  cellpadding='0'
  cellspacing='0'
  width='100%'
  border='0'
>
  <tbody>
    <tr>
      <td
        class='v-container-padding-padding'
        style="overflow-wrap:break-word;word-break:break-word;padding:50px 50px 0px;font-family:'Open Sans',sans-serif;"
        align='left'
      >

        <h1
          class='v-text-align v-line-height v-font-size'
          style='margin: 0px; line-height: 140%; text-align: left; word-wrap: break-word; font-size: 24px; font-weight: 400;'
        ><strong>Information sur votre wallet</strong></h1>

      </td>
    </tr>
  </tbody>
</table>

<table
  id='u_content_text_3'
  style="font-family:'Open Sans',sans-serif;"
  role='presentation'
  cellpadding='0'
  cellspacing='0'
  width='100%'
  border='0'
>
  <tbody>
    <tr>
      <td
        class='v-container-padding-padding'
        style="overflow-wrap:break-word;word-break:break-word;padding:10px 50px;font-family:'Open Sans',sans-serif;"
        align='left'
      >

        <div
          class='v-text-align v-line-height v-font-size'
          style='font-size: 14px; line-height: 170%; text-align: justify; word-wrap: break-word;'
        >
        <p>Cher {{ marchantName }}</p>
          <p style='line-height: 170%;'>{{ text }}</p>
        </div>

      </td>
    </tr>
  </tbody>
</table>

{{> footer }}